<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th> <th>Name</th> <th>BirthDay</th> <th>Sick</th> <th>Score</th>
        </tr>
        <tr th:each="p:${patientsList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.birthDate}"></td>
            <td th:text="${p.sick}"></td>
            <td th:text="${p.score}"></td>

        </tr>
    </table>
</body>
</html>